$background: #243949;
$white: #fffce1;
$yellow: #dab977;

@import '../src/scss/mixins';
@import '../src/scss/core';

body.theme-default {
  @import '../src/scss/theme-default';
}

body.theme-carbon {
  @import '../src/scss/theme-carbon';
}

@mixin mi {
  direction: ltr;
  display: inline-block;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  height: 19px;
  letter-spacing: normal;
  line-height: 19px;
  margin-right: 15px;
  speak: never;
  text-indent: 0;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: top;
  white-space: nowrap;
  width: 19px;
  word-wrap: normal;
}

html,
body,
div,
span,
header,
ul,
li,
a {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

.cf {
  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
  }

  &::after {
    clear: both;
  }
}

#container {
  background: linear-gradient(-134deg, #517fa4 0%, $background 100%);
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

#main-nav {
  display: none;
}

header {
  padding: 50px 0 20px;
  position: relative;

  h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 8px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.4;
    margin: auto;
    max-width: 680px;
    padding-bottom: 30px;
    text-align: center;
  }

  .git {
    background: #54b9cb;
    border-radius: 4px;
    color: #fff;
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding: 4px 10px 4px 0;
    text-decoration: none;
    transition: background .15s ease-in-out;

    &:hover,
    &:focus {
      background: #4ca8b9;

      svg {
        border-color: #54b9cb;
      }
    }

    svg {
      border-right: 1px solid #4daabb;
      fill: $white;
      height: 15px;
      margin-right: 10px;
      padding: 0 10px;
      position: relative;
      top: 2px;
      transition: border-color .15s ease-in-out;
      width: 15px;
    }
  }

  .ver {
    color: $yellow;
    font-weight: 200;
    padding-top: 15px;

    span {
      color: $white;
    }
  }

  .toggle {
    @include hc-hamburger('default', 35px, 26px, 4px, darken($background, 7%), .25s);
    box-sizing: content-box;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 18px;
    left: auto;
    line-height: 22px;
    margin-top: 55px;
    padding-left: 55px;
    position: relative;
    text-align: left;
    text-decoration: none;
    top: auto;
    width: auto;

    &:hover,
    &:focus {
      span {
        &,
        &::before,
        &::after {
          background: $yellow;
        }
      }
    }

    i {
      display: block;
      font-size: 10px;
      line-height: 10px;
      opacity: .7;
    }
  }
}

footer {
  padding-bottom: 40px;

  .swm {
    display: inline-block;
    padding: 0 15px;

    svg {
      display: block;
      height: 17px;
      margin-top: 22px;
      width: auto;

      path {
        transition: fill .1s ease;
      }

      .l-1 {
        fill: #4fb5e1;
      }

      .l-2 {
        fill: #f2c053;
      }

      .l-3 {
        fill: #a7ce38;
      }
    }

    &:not(:hover),
    &:not(:focus) {
      svg {
        .l-1 {
          fill: lighten($background, 20%);
        }

        .l-2 {
          fill: lighten($background, 50%);
        }

        .l-3 {
          fill: lighten($background, 30%);
        }
      }
    }
  }
}

main {
  flex: 1 0 auto;
  padding-bottom: 30px;
  text-align: left;

  .content {
    border-top: 1px solid rgba(255, 255, 255, .1);
  }

  h4 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0;
    text-transform: uppercase;

    &:first-child {
      margin-top: 30px;
    }
  }

  .actions {
    margin: 0 -15px;
    text-align: center;

    div {
      box-sizing: border-box;
      padding: 0 15px 20px;
    }

    &.checkboxes {
      padding-top: 8px;
      text-align: left;

      label {
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;

        input {
          display: none;

          &:checked {
            & ~ span {
              background: $yellow;

              &::before {
                border: solid $background;
                border-width: 0 3px 3px 0;
                content: '';
                display: inline-block;
                left: 50%;
                margin-top: -1px;
                padding: 5px 2px;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
              }
            }
          }
        }

        span {
          background: $white;
          display: inline-block;
          height: 22px;
          margin-right: 12px;
          position: relative;
          top: -1px;
          transition: all .1s ease;
          vertical-align: top;
          width: 22px;
        }
      }
    }

    @media screen and (min-width: 800px) {
      &:not(.theme) {
        display: flex;
        flex-wrap: wrap;

        div {
          flex: 1 1 33.33%;
          float: left;
          max-width: 33.33%;
        }

        &.position {
          div {
            flex: 1 1 25%;
            float: left;
            max-width: 25%;
          }
        }
      }

      &.theme {
        &::after {
          clear: both;
          content: '';
          display: table;
        }

        div {
          float: left;
        }
      }
    }
  }

  .button {
    background: $white;
    border-radius: 30px / 80px;
    color: $background;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.4;
    padding: 18px 30px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease;

    &:not(.active):hover,
    &:not(.active):focus {
      color: darken($yellow, 5%);
    }

    &.active {
      background: $yellow;
    }
  }

  .thumb {
    background-size: cover;
    border: 4px solid $white;
    border-radius: 5px;
    display: block;
    height: 100px;
    position: relative;
    width: 100px;

    &.active {
      border-color: $yellow;
    }
  }
}

.hc-offcanvas-nav {
  .nav-wrapper-0 > .nav-content {
    padding-bottom: 41px;
  }

  h2 {
    & ~ ul > li.search {
      .nav-custom-content {
        padding-top: 0;
      }
    }
  }

  &.rtl {
    .nav-item-link {
      &::before {
        margin-left: 15px;
        margin-right: 0 !important;
      }
    }

    .nav-item.collections > .nav-item-wrapper .nav-item-link span {
      float: left;
    }
  }

  li {
    .custom-message {
      font-size: 12px;

      a {
        color: #fff;
        font-size: 13px;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    &.add > .nav-item-wrapper a::before {
      @include mi;
      content: 'add';
    }

    &.new > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'fiber_new';
    }

    &.cryptocurrency > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'local_atm';
    }

    &.devices > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'devices';
    }

    &.mobile > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'phone_android';
    }

    &.television > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'desktop_windows';
    }

    &.camera > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'camera_alt';
    }

    &.magazines > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'import_contacts';
    }

    &.store > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'store';
    }

    &.collections > .nav-item-wrapper .nav-item-link {
      span {
        background: #ff635a;
        border-radius: 2px;
        float: right;
        font-size: 70%;
        height: 15px;
        line-height: 15px;
        margin-top: 2px;
        padding: 0 4px;
      }

      &::before {
        @include mi;
        content: 'collections';
      }
    }

    &.nolink > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'format_clear';
    }

    &.disabled > .nav-item-wrapper .nav-item-link::before {
      @include mi;
      content: 'block';
    }
  }

  &.nav-position-top,
  &.nav-position-bottom {
    ul.bottom-nav {
      border-top: none;
      position: relative;
    }

    .nav-wrapper-0 > .nav-content {
      padding-bottom: 0;
    }
  }

  ul.bottom-nav {
    align-items: stretch;
    border-top: 1px solid rgba(#000, .15);
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 10;

    li {
      flex: auto;

      a {
        border-bottom: none;
        height: 100%;
        padding: 10px;
        text-align: center;
      }

      svg {
        display: inline-block;
        fill: #fff;
        vertical-align: middle;
      }

      &.github {
        svg {
          height: 17px;
          width: 17px;
        }
      }

      &.ko-fi {
        svg {
          height: 21px;
          width: 21px;
        }
      }

      &.email {
        svg {
          height: 19px;
          width: 19px;
        }
      }
    }
  }
}

body.theme-default {
  .hc-offcanvas-nav {
    .second-nav {
      border-bottom: none !important;
    }
  }
}
