$hcmn-transition-duration: .4s !default;
$hcmn-container-width: 240px !default;

html.hc-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-mobile-nav {
  z-index: 9999;
  display: none;
  overscroll-behavior: none;

  &.is-ios {
    * {
      cursor: pointer !important;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    display: block;

    &.level-open {
      & > .nav-wrapper {
        visibility: visible;
      }
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
  }

  a {
    position: relative;
    display: block;
    box-sizing: border-box;
    cursor: pointer;

    &,
    &:hover {
      text-decoration: none;
    }
  }

  // Background overlay
  &.disable-body {

    &:not(.nav-open) {
      &::after {
        pointer-events: none;
      }
    }

    &,
    .nav-wrapper {

      &::after {
        content: '';
        position: fixed;
        z-index: 9990;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overscroll-behavior: none;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s ease $hcmn-transition-duration, opacity $hcmn-transition-duration ease;
      }
    }

    &.nav-open,
    .sub-level-open {
      &::after {
        visibility: visible;
        opacity: 1;
        transition-delay: .05s;
      }
    }
  }

  // Inline Levels
  &.nav-levels-inline {

    .nav-wrapper {
      &::after {
        display: none;
      }
    }

    ul {
      .nav-wrapper {
        min-width: 0;
        max-height: 0;
        overflow: hidden;
        transition: height 0s ease $hcmn-transition-duration;
      }
    }

    .level-open {
      & > .nav-wrapper {
        max-height: none;
      }
    }
  }

  // Off-canvas Nav
  &.off-canvas {
    position: fixed;
    top: 0;
    height: 100%;

    .nav-container {
      position: fixed;
      z-index: 9998;
      top: 0;
      width: $hcmn-container-width;
      max-width: 100%;
      height: 100%;
      transition: transform $hcmn-transition-duration ease;
    }

    .nav-wrapper {
      width: 100%;

      &.nav-wrapper-1 {
        position: static;
        height: 100%;
        overflow: scroll;
        overflow-x: visible;
        overflow-y: auto;
      }
    }

    // Transform Levels
    &.nav-levels-overlap {

      ul {

        .nav-wrapper {
          position: absolute;
          z-index: 9999;
          top: 0;
          height: 100%;
          visibility: hidden;
          transition: visibility 0s ease $hcmn-transition-duration, transform $hcmn-transition-duration ease;
        }

        ul {
          height: 100%;
          overflow: scroll;
          overflow-x: visible;
          overflow-y: auto;
        }

        li {

          &.nav-parent {
            position: static;
          }

          &.level-open {
            & > .nav-wrapper {
              visibility: visible;
              transition: transform $hcmn-transition-duration ease;
            }
          }
        }
      }
    }

    // Left
    &.side-left {
      left: 0;

      .nav-container {
        left: 0;
        transform: translate3d(-100%, 0, 0);
      }

      &.nav-levels-overlap {

        li {

          &.level-open {
            & > .nav-wrapper {
              transform: translate3d(-40px, 0, 0);
            }
          }

          .nav-wrapper {
            left: 0;
            transform: translate3d(-100%, 0, 0);
          }
        }
      }
    }

    // Right
    &.side-right {
      right: 0;

      .nav-container {
        right: 0;
        transform: translate3d(100%, 0, 0);
      }

      &.nav-levels-overlap {

        li {

          &.level-open {
            & > .nav-wrapper {
              transform: translate3d(40px, 0, 0);
            }
          }

          .nav-wrapper {
            right: 0;
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }

    // Open Nav
    &.nav-open {
      .nav-container {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}