$hc-offcanvas-nav-transition-duration: .4s !default;
$hc-offcanvas-nav-transition-timing-function: ease !default;

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  min-height: 100%;
  overflow: visible;
  position: fixed;
  width: 100%;
}

.hc-offcanvas-nav {
  display: none;
  height: 100%;
  position: fixed;
  text-align: left;
  top: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-ios {
    * {
      cursor: pointer !important;
    }
  }

  .nav-container {
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    transition: transform $hc-offcanvas-nav-transition-duration $hc-offcanvas-nav-transition-timing-function;
    z-index: 9998;
  }

  .nav-wrapper {
    box-sizing: border-box;
    height: 100%;
    overscroll-behavior: none;
    width: 100%;
  }

  .nav-content {
    height: 100%;
  }

  .nav-wrapper-0 {
    & > .nav-content {
      box-sizing: border-box;
      overflow: scroll;
      overflow-x: visible;
      overflow-y: auto;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    position: relative;

    &.level-open {
      & > .nav-wrapper {
        visibility: visible;
      }
    }

    &:not(.custom-content) {
      a {
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        position: relative;

        &[disabled] {
          cursor: not-allowed;
        }

        &,
        &:hover,
        &,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .nav-item-wrapper {
    position: relative;
  }

  .nav-item-link {
    box-sizing: border-box;
    display: block;
    position: relative;
  }

  &:not(.user-is-tabbing) {
    .nav-close-button,
    .nav-item-wrapper a {
      &:focus {
        outline: none;
      }
    }
  }

  .nav-close,
  .nav-next,
  .nav-back {
    &:focus {
      z-index: 10;
    }
  }

  // Background overlay

  &.disable-body,
  .nav-wrapper {
    &::after {
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      overscroll-behavior: none;
      right: 0;
      top: 0;
      transition: visibility 0s ease $hc-offcanvas-nav-transition-duration, opacity $hc-offcanvas-nav-transition-duration ease;
      visibility: hidden;
      width: 100%;
      z-index: 9990;
    }
  }

  &.disable-body {
    &::after {
      position: fixed;
    }
  }

  .nav-wrapper {
    &::after {
      position: absolute;
    }
  }

  &.disable-body.nav-open,
  .sub-level-open {
    &::after {
      opacity: 1;
      transition-delay: .05s;
      visibility: visible;
    }
  }

  &:not(.nav-open) {
    &::after {
      pointer-events: none;
    }
  }

  // Expand Levels
  &.nav-levels-expand {
    .nav-wrapper {
      &::after {
        display: none;
      }

      &.nav-wrapper-0 {
        max-height: 100vh;

        & > .nav-content {
          box-sizing: border-box;
          max-height: 100vh;
          overflow: scroll;
          overflow-x: visible;
          overflow-y: auto;
        }
      }
    }

    ul {
      .nav-wrapper {
        max-height: 0;
        min-width: 0;
        overflow: hidden;
        transition: height 0s ease $hc-offcanvas-nav-transition-duration;
        visibility: hidden;
      }
    }

    .level-open {
      & > .nav-wrapper {
        max-height: none;
        overflow: visible;
        visibility: visible;
      }
    }
  }

  // Transform Levels
  &.nav-levels-overlap {
    .nav-content {
      box-sizing: border-box;
      max-height: 100vh;
      overflow: scroll;
      overflow-x: visible;
      overflow-y: auto;
    }

    .nav-wrapper {
      max-height: 100vh;
    }

    ul {
      .nav-wrapper {
        height: 100%;
        position: absolute;
        top: 0;
        transition: visibility 0s ease $hc-offcanvas-nav-transition-duration, transform $hc-offcanvas-nav-transition-duration $hc-offcanvas-nav-transition-timing-function;
        visibility: hidden;
        z-index: 9999;
      }

      li {
        &.nav-parent {
          position: static;
        }

        &.level-open {
          & > .nav-wrapper {
            transform: translate3d(0, 0, 0);
            transition: transform $hc-offcanvas-nav-transition-duration $hc-offcanvas-nav-transition-timing-function;
            visibility: visible;
          }
        }
      }
    }
  }

  // Left
  &.nav-position-left {
    left: 0;

    .nav-container {
      left: 0;
    }

    &.nav-levels-overlap {
      li {
        .nav-wrapper {
          left: 0;
          transform: translate3d(-100%, 0, 0);
        }
      }
    }
  }

  // Right
  &.nav-position-right {
    right: 0;

    .nav-container {
      right: 0;
    }

    &.nav-levels-overlap {
      li {
        .nav-wrapper {
          right: 0;
          transform: translate3d(100%, 0, 0);
        }
      }
    }
  }

  // Top
  &.nav-position-top {
    top: 0;

    .nav-container {
      top: 0;
      width: 100%;
    }

    &.nav-levels-overlap {
      li {
        .nav-wrapper {
          left: 0;
          transform: translate3d(0, -100%, 0);
        }
      }
    }
  }

  // Bottom
  &.nav-position-bottom {
    bottom: 0;
    top: auto;

    .nav-container {
      bottom: 0;
      top: auto;
      width: 100%;
    }

    &.nav-levels-overlap {
      li {
        .nav-wrapper {
          left: 0;
          transform: translate3d(0, 100%, 0);
        }
      }
    }
  }

  // Open Nav
  &.nav-open[class*='hc-nav-'] {
    div.nav-container {
      transform: translate3d(0, 0, 0);
    }
  }

  // RTL
  &.rtl {
    direction: rtl;
    text-align: right;
  }
}
