// stylelint-disable no-descending-specificity
.hc-offcanvas-nav {

  // CSS Variables for off canvas menu
  // Colors
  --hc-offcanvas-nav-color-background: #336ca6;
  --hc-offcanvas-nav-color-background-hilight: #2e6296;
  --hc-offcanvas-nav-color-background-hover: #31679e;
  --hc-offcanvas-nav-color-background-labels: #2b5a8b;
  --hc-offcanvas-nav-color-background-labels-hover: #2e6195;
  --hc-offcanvas-nav-color-background-overlay: rgba(0, 0, 0, .3);
  --hc-offcanvas-nav-color-border-labels: #2b5a8b;
  --hc-offcanvas-nav-color-border-link-items: #2b5a8b;
  --hc-offcanvas-nav-color-border-level-open-toggle-item: #295887;
  --hc-offcanvas-nav-color-text: #fff;
  --hc-offcanvas-nav-color-text-disabled: rgba(255, 255, 255, .5);
  --hc-offcanvas-nav-color-heading: #1b3958;

  // Definitions
  --hc-offcanvas-nav-font-family: sans-serif;
  --hc-offcanvas-nav-item-font-weight: 400;

  // Sizes
  --hc-offcanvas-nav-font-size-text: 14px;
  --hc-offcanvas-nav-font-size-heading: 19px;
  --hc-offcanvas-heading-padding-y: 20px;
  --hc-offcanvas-heading-padding-x: 17px;
  --hc-offcanvas-nav-item-padding-y: 14px;
  --hc-offcanvas-nav-item-padding-x: 17px;

  // Styling on main level
  font-family: var(--hc-offcanvas-nav-font-family);
}

.hc-offcanvas-nav::after,
.nav-wrapper::after {
  background-color: var(--hc-offcanvas-nav-color-background-overlay);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background-color: var(--hc-offcanvas-nav-color-background);
}

.nav-content > h2,
.nav-content > h3,
.nav-content > h4,
.nav-content > h5,
.nav-content > h6 {
  color: var(--hc-offcanvas-nav-color-heading);
  font-size: var(--hc-offcanvas-nav-font-size-heading);
  font-weight: var(--hc-offcanvas-nav-item-font-weight);
  padding: var(--hc-offcanvas-heading-padding-y) var(--hc-offcanvas-heading-padding-x);
}

.hc-offcanvas-nav .nav-item-link,
.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav .nav-back a {
  align-items: center;
  border-bottom: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
  color: var(--hc-offcanvas-nav-color-text);
  display: flex;
  font-size: var(--hc-offcanvas-nav-font-size-text);
  padding: var(--hc-offcanvas-nav-item-padding-y) var(--hc-offcanvas-nav-item-padding-x);
  transition: background .1s ease;
  z-index: 1;

  &:focus,
  &:focus-within {
    z-index: 10;
  }

  &[disabled] {
    color: var(--hc-offcanvas-nav-color-text-disabled);
  }
}

.hc-offcanvas-nav div.nav-back + ul > li:first-child > .nav-item-wrapper > .nav-item-link {
  border-top: none;
}

// stylelint-disable-next-line selector-max-pseudo-class
.hc-offcanvas-nav:not(.touch-device) li:not(.nav-item-custom) a:not([disabled]):hover,
.hc-offcanvas-nav:not(.touch-device) li:not(.nav-item-custom) a:not([disabled]):focus {
  background-color: var(--hc-offcanvas-nav-color-background-hover);
}

.hc-offcanvas-nav .nav-custom-content {
  border-bottom: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
  font-size: var(--hc-offcanvas-nav-font-size-text);
  padding: 14px 17px;
}

.hc-offcanvas-nav .nav-highlight {
  background-color: var(--hc-offcanvas-nav-color-background-hilight);
}

// stylelint-disable-next-line selector-max-pseudo-class, selector-max-specificity
.hc-offcanvas-nav ul:first-of-type > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link,
.hc-offcanvas-nav ul:first-of-type > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link + a {
  border-top: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
}

.hc-offcanvas-nav .nav-wrapper > .nav-content > ul:not(:last-child) {
  border-bottom: 2px solid var(--hc-offcanvas-nav-color-border-link-items);
}

.hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h2,
.hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h3,
.hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h4,
.hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h5,
.hc-offcanvas-nav .nav-wrapper > .nav-content > ul + h6 {
  margin-top: -2px;
}

.hc-offcanvas-nav .nav-wrapper > .nav-content h2,
.hc-offcanvas-nav .nav-wrapper > .nav-content h3,
.hc-offcanvas-nav .nav-wrapper > .nav-content h4,
.hc-offcanvas-nav .nav-wrapper > .nav-content h5,
.hc-offcanvas-nav .nav-wrapper > .nav-content h6 {
  margin-bottom: 0;

  // stylelint-disable-next-line selector-max-class, selector-max-combinators, selector-max-compound-selectors, selector-max-pseudo-class, selector-max-specificity
  + ul > li:first-child:not(.nav-back):not(.nav-close) > .nav-item-wrapper > .nav-item-link {
    border-top: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
  }
}

.hc-offcanvas-nav .nav-wrapper > .nav-content .nav-title,
.hc-offcanvas-nav .nav-wrapper > .nav-content .level-title,
.hc-offcanvas-nav .nav-wrapper > .nav-content .nav-close {
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    border-top: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
  }
}

.hc-offcanvas-nav li {
  color: var(--hc-offcanvas-nav-color-text);

  &.nav-parent .nav-item-link {
    &:last-child {
      padding-right: 58px;
    }

    &:not(:last-child) {
      margin-right: 45px;
    }
  }
}

.hc-offcanvas-nav .nav-close-button span,
.hc-offcanvas-nav .nav-parent .nav-next,
.hc-offcanvas-nav .nav-back span {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: background .1s ease;
  width: 45px;
}

.hc-offcanvas-nav .nav-close-button {
  display: block;
  position: relative;

  span::before,
  span::after {
    border-left: 2px solid var(--hc-offcanvas-nav-color-text);
    border-top: 2px solid var(--hc-offcanvas-nav-color-text);
    content: '';
    height: 6px;
    left: 50%;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 6px;
  }

  span::before {
    margin-left: -9px;
    transform: rotate(135deg);
  }

  span::after {
    transform: rotate(-45deg);
  }
}

.hc-offcanvas-nav .nav-content > .nav-close {
  position: relative;
  z-index: 2;

  a {
    box-sizing: border-box;
    color: var(--hc-offcanvas-nav-color-text);
    font-size: var(--hc-offcanvas-nav-font-size-text);
    text-decoration: none;
    z-index: 1;

    &:not(.has-label) {
      height: 50px;
    }

    &.has-label {
      border-top: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
      padding: 14px 17px;
    }

    &:hover,
    &:focus {
      background-image: radial-gradient(farthest-corner at top right, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
      border: none;
    }
  }

  &.has-label + ul {
    margin-top: -1px;
  }
}

.hc-offcanvas-nav:not(.nav-close-button-empty) .nav-content > .nav-close {
  margin-bottom: -1px;
}

.hc-offcanvas-nav .nav-title + .nav-close a:not(.has-label) {
  height: 66px;
  line-height: 66px;
  position: absolute;
  right: 0;
  top: -66px;
  width: 45px;
}

.hc-offcanvas-nav.nav-close-button-empty .nav-title {
  padding-right: 55px;
}

.hc-offcanvas-nav li.nav-close a:not(.has-label) {
  height: 49px;
}

.hc-offcanvas-nav .nav-content > .nav-close:first-child a,
.hc-offcanvas-nav .nav-title + .nav-close a.has-label,
.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav .nav-back a {
  background-color: var(--hc-offcanvas-nav-color-background-labels);
  border-bottom: 1px solid var(--hc-offcanvas-nav-color-border-labels);
  border-top: 1px solid var(--hc-offcanvas-nav-color-border-labels);

  &:hover,
  &:focus {
    background-color: var(--hc-offcanvas-nav-color-background-labels-hover);
  }
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back:not(:first-child) a {
  margin-top: -1px;
}

.hc-offcanvas-nav a.nav-next {
  border-bottom: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
  border-left: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
}

.hc-offcanvas-nav .nav-next span::before,
.hc-offcanvas-nav .nav-back span::before {
  border-left: 2px solid var(--hc-offcanvas-nav-color-text);
  border-top: 2px solid var(--hc-offcanvas-nav-color-text);
  box-sizing: border-box;
  content: '';
  height: 8px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 50%;
  transform-origin: center;
  width: 8px;
}

.hc-offcanvas-nav .nav-next span {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hc-offcanvas-nav .nav-next span::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav .nav-back span::before {
  margin-left: 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

// Left
// stylelint-disable-next-line selector-max-class
.hc-offcanvas-nav.nav-position-left.nav-open.nav-levels-overlap .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, .2);
}

// Right
.hc-offcanvas-nav.nav-position-right.nav-open.nav-levels-overlap {
  // stylelint-disable-next-line selector-max-class
  .nav-wrapper {
    box-shadow: -1px 0 2px rgba(0, 0, 0, .2);
  }

  // stylelint-disable-next-line selector-max-class
  .nav-next span::before {
    margin-left: 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  // stylelint-disable-next-line selector-max-class
  .nav-back span::before {
    margin-left: -2px;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

// Top
.hc-offcanvas-nav.nav-position-top {
  &.nav-open .nav-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  }

  .nav-next span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(-135deg);
  }

  .nav-back span::before {
    margin-left: 0;
    margin-right: -2px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

// Bottom
.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
}

.hc-offcanvas-nav.nav-position-bottom .nav-next span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom .nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

// Expand & none
.hc-offcanvas-nav.nav-levels-expand,
.hc-offcanvas-nav.nav-levels-none {
  ul .nav-wrapper {
    box-shadow: none;
  }

  li.level-open {
    background-color: var(--hc-offcanvas-nav-color-background-hilight);
  }

  li.level-open > .nav-item-wrapper {
    > a {
      border-bottom: 1px solid var(--hc-offcanvas-nav-color-border-level-open-toggle-item);
    }

    > a:hover,
    > a:focus {
      background-color: var(--hc-offcanvas-nav-color-background-labels);
    }

    // stylelint-disable-next-line selector-max-class
    .nav-next,
    a > .nav-next span::before {
      margin-top: -2px;
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }

  @for $i from 1 through 5 {
    .nav-wrapper-#{$i} .nav-item-link {
      padding-left: calc(17px + 20px * #{$i});
    }
  }
}

// RTL
.hc-offcanvas-nav.rtl {
  a.nav-next {
    border-left: none;
    border-right: 1px solid var(--hc-offcanvas-nav-color-border-link-items);
  }

  .nav-title + .nav-close a:not(.has-label),
  .nav-close-button span,
  .nav-next,
  .nav-back span {
    left: 0;
    right: auto;
  }

  li.nav-parent {
    .nav-item-link {
      &:last-child {
        padding-left: 58px;
        padding-right: 17px;
      }

      &:not(:last-child) {
        margin-left: 45px;
        margin-right: 0;
      }
    }
  }

  @for $i from 1 through 5 {
    .nav-wrapper-#{$i} li.nav-item .nav-item-link {
      padding-right: calc(17px + 20px * #{$i});
    }
  }
}
